---
- name: Install dependencies
  ansible.builtin.package:
    name: "{{ (ansible_facts['os_family'] | lower == 'redhat') | ternary(build_deps_redhat, build_deps_debian) }}"
    state: present

- name: Create temporary build directory
  ansible.builtin.tempfile:
    state: directory
    suffix: build
  register: tmp_dir

- name: Download Nginx
  ansible.builtin.get_url:
    url: "{{ download_url }}"
    dest: "{{ tmp_dir.path }}/nginx-{{ nginx_version }}.tar.gz"
  register: nginx_source

- name: Unpacking NGINX
  ansible.builtin.unarchive:
    copy: false
    dest: "{{ tmp_dir.path }}"
    src: "{{ nginx_source.dest }}"

- name: Set build_dir
  ansible.builtin.set_fact:
    build_dir: "{{ tmp_dir.path }}/nginx-{{ nginx_version }}"

- name: Configure NGINX source with custom modules
  ansible.builtin.command: >
    ./configure
    --prefix=/etc/nginx
    --sbin-path=/usr/sbin/nginx
    --modules-path=/usr/lib/nginx/modules
    --conf-path=/etc/nginx/nginx.conf
    --error-log-path=/var/log/nginx/error.log
    --http-log-path=/var/log/nginx/access.log
    --pid-path=/var/run/nginx.pid
    --lock-path=/var/run/nginx.lock
    --user={{ user }}
    --group={{ user }}
    --with-pcre
    --with-http_ssl_module
    --with-http_v2_module
    --with-http_v3_module
    --with-stream
    --with-stream_ssl_module
  args:
    chdir: "{{ build_dir }}"
    creates: "{{ build_dir }}/Makefile"

- name: Installing NGINX
  ansible.builtin.shell: make -j$(nproc) && make install
  args:
    chdir: "{{ build_dir }}"

- name: Delete temporary directory
  ansible.builtin.file:
    path: "{{ tmp_dir.path }}"
    state: absent

- name: Creating proxy_params file
  ansible.builtin.copy:
    src: proxy_params.conf
    dest: /etc/nginx/proxy_params

- name: Creating NGINX conf file
  ansible.builtin.template:
    src: nginx.conf.j2
    dest: /etc/nginx/nginx.conf

- name: Copy default website
  ansible.builtin.copy:
    src: public
    dest: /var/www/default/

- name: Copy default website
  ansible.builtin.copy:
    src: default.conf
    dest: /etc/nginx/conf.d/

- name: Installing NGINX init script (service)
  notify: Restart Nginx
  ansible.builtin.copy:
    src: nginx.service
    dest: /etc/systemd/system/nginx.service
    owner: root
    group: root
    mode: '0755'
